.idea
*.pyc
*.db
*~
env/*
*#
smartmin.egg-info
dist
docs/_build
.coverage
build
coverage-report

*.DS_Store
/smartmin/.DS_Store
/smartmin/static/.DS_Store
/smartmin/static/img/.DS_Store
/test-runner/env/
/test-runner/smartmin
