.idea
*.sw[po]
*.pyc
*.db
*~
env/*
*#
smartmin.egg-info
dist
docs/_build
.coverage
build
coverage-report
celerybeat-schedule

*.DS_Store
.tox/
.vscode/
deploy
fabric
fabfile.*

# uv
.venv/
.python-version
