include README.rst
recursive-include requirements *
recursive-include smartmin/static *
recursive-include smartmin/templates *
recursive-include smartmin/templatetags *
recursive-include smartmin/management *
prune proj
