[tool.poetry]
name = "smartmin"
version = "2.3.6"
description = "Scaffolding system for Django object management."
authors = ["Nyaruka Ltd <code@nyaruka.com>"]
readme = "README.md"
license = "BSD"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Framework :: Django",
]
packages = [
    { include = "smartmin" },
]

[tool.poetry.urls]
repository = "http://github.com/nyaruka/smartmin"

[tool.poetry.dependencies]
python = "^3.6"
Django = "<3.0"
celery = "<5.0"
pytz = "*"
redis = "^3.5.3"
sqlparse = "^0.4.1"
xlrd = "^1.2.0"
xlwt = "^1.3.0"

[tool.poetry.dev-dependencies]
psycopg2 = "^2.8.6"
funcsigs = "^1.0.2"
flake8 = "^3.8.4"
Pillow = "^8.1.0"
codecov = "^2.1.11"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
