[tool.poetry]
name = "smartmin"
version = "4.0.1"
description = "Scaffolding system for Django object management."
authors = ["Nyaruka Ltd <code@nyaruka.com>"]
readme = "README.md"
license = "BSD"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Framework :: Django",
]
packages = [
    { include = "smartmin" },
]

[tool.poetry.urls]
repository = "http://github.com/nyaruka/smartmin"

[tool.poetry.dependencies]
python = "^3.9"
Django = ">= 3.2, < 4.1"
celery = ">= 4.4.6"
pytz = "*"
redis = "^3.5.3"
sqlparse = "^0.4.1"
xlrd = "^1.2.0"
xlwt = "^1.3.0"

[tool.poetry.dev-dependencies]
psycopg2 = "< 2.9"  # https://github.com/psycopg/psycopg2/issues/1293
funcsigs = "^1.0.2"
flake8 = "^3.8.4"
Pillow = "^8.1.0"
codecov = "^2.1.11"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
