{% extends "base.html" %}

{% load smartmin %}

{% block content %}
<div class="row">
  <div class="span7 offset2">
    <div class="alert alert-error">
    <div class="page-header"><h2>Login Failure</h2></div>
    <p > Sorry, you cannot log in at this time because we received {{limit_attempts}} incorrect login attempts.</p> 
    <p>Please wait {{time_interval}} minutes before to try log in again or fill out your email below to recover your password</p>
    </div>
  </div>
</div>
<div class="row" >
  <div class="span7 offset2">
    <form class="form-inline" method="post" action="{% url users.user_forget %}">
      {% csrf_token %}
      <fieldset>
	<label>Email Address</label> 
	<input  class="span4" type="text" name="email">
	<input type="submit" value="Recover" class="btn btn-primary">
      </fieldset>
    </form>
  </div>
</div>


{% endblock %}
