{% extends "base.html" %}

{% load smartmin %}

{% block login %}{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset4">
    <div class="page-header"><h3>Sign in</h3></div>

    <form method="post" class="form-stacked" id="login-form">
      {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}
      <div class="alert-message error form-errors">
        {{ errors }}
      </div>
      {% endif %}
      {% endfor %}
      
      <fieldset>
        {% for field in form %}
        <div class="clearfix {% if field.error %}error{% endif %}">
          <label for="{{ field.name }}">{{ field.label }}</label>
          <div class="input">{{ field }}</div>
          {% if field.error %}
          <span class="help-inline">{{ field.error }}</span>
          {% endif %}
        </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" class="btn primary" value="Login">
      </fieldset>
    </form>
  </div>

</div>
{% endblock %}
