{% extends "base.html" %}

{% load smartmin %}

{% block content %}
<div class="row">
  <div class="span7 offset2">
    <div class="alert alert-error">
    <div class="page-header"><h2>Login Failure</h2></div>
    <p > Sorry, you cannot log in at this time because we received {{failed_login_limit}} incorrect login attempts.</p> 

    {% if lockout_timeout >= 0 %}
    <p>Please wait {{lockout_timeout}} minutes before to try log in again.</p>
    {% endif %}

    {% if allow_email_recovery %}
    <p>Alternatively, you can fill out the form below to have your password reset via e-mail.</p>
    {% else %}
    <p>Please contact the website administrator to have your password reset.</p>
    {% endif %}
    </div>
  </div>
</div>

{% if allow_email_recovery %}
<div class="row" >
  <div class="span7 offset2">
    <form class="form-inline" method="post" action="{% url 'users.user_forget' %}">
      {% csrf_token %}
      <fieldset>
	<label>Email Address</label> 
	<input  class="span4" type="text" name="email">
	<input type="submit" value="Recover" class="btn btn-primary">
      </fieldset>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
