{% extends "smartmin/base.html" %}

{% load smartmin %}

{% block pre-content %}{% endblock %}

{% block content %}
{% block pjax %}
<div class="confirmation">

  <h3>Remove {{ object }}?</h3>
  <p>Are you sure you want to remove <b>{{ object }}</b>?</p>
  <p>Once it is removed, it will be gone forever. There is no way to undo this operation.</p>
  
  <form method="POST">

    {% block delete_form %}{% endblock %}
    
    <div class="buttons">
      <a class="btn" href="{{ cancel_url }}">Cancel</a>
      {% csrf_token %}
        <input type="submit" class="btn danger" value="Remove"/>
    </div>
  </form>

</div>
{% endblock %}
{% endblock %}
