{% extends "smartmin/base.html" %}

{% load smartmin %}

{% block main-content %}
{% block pjax %}

<div id="pjax">
  <div class="content">
    <div class="form_view">
      <form id="smartmin_form" method="post" enctype="multipart/form-data">

        <div class="form_view_top">
          <div style="float:right;margin-top:3px">
            {% block table_header_buttons %}{% endblock %}
          </div>

          <div class="form_view_title">{% block table_title %}{{ title }}{% endblock %}</div>
        </div>

        <table class="form_table" cellspacing="0" border="1">
          {% if form.non_field_errors %}
            <tr><td class="label"></td>
              <td colspan=2 class="form_errors">
                {{ form.non_field_errors }}
            </td></tr>
          {% endif %}

          {% block beforefields %}{% endblock %}

          {% for field in fields %}
          {% with form|field:field as form_field %}

          {% if form_field and form_field.is_hidden %}
            {{ form_field }}
          {% else %}
            <tr class="{% get_class field %}">
              <td class="label {% if form_field and not form_field.field.required%}optional{% endif %}">
                <label>{% get_label field %}:
                </label>
              </td>
              <td class="value {% if form_field %}field{% else %}readonly{% endif %}">
                {% if form_field %}
                  {{ form_field }}
                {% else %}

                  {% if object %}
                    {% get_value object field %}
                  {% else %}
                    {% get_value_from_view field %}
                  {% endif %}
                {% endif %}
                
                {% with view|field_help:field as help %}
                {% if help %}
                <div class="help">{{ help }}</div>
                {% endif %}
                {% endwith %}
              </td>
              <td class="errors">
                {% if form_field %}
                {{ form_field.errors }}
                {% endif %}
              </td>
            </tr>
          {% endif %}

          {% endwith %}
          {% endfor %}

          {% block extrafields %}
          {% endblock %}
        </table>
        {% csrf_token %}

        {% block afterfields %}
        {% endblock %}

        {% block save %}
        <div class="form_buttons">
          <input class="button" type="submit" value="{% if object %}Save{% else %}Create{% endif %}"></input>
        </div>
        <div class="rounded_bottom">&nbsp;</div>
        {% endblock %}
      </form>
    </div>
  </div>
{% endblock pjax %}
{% endblock main-content %}

{% block extrascript %}
    {{ block.super }}
    {% if javascript_submit %}
        <script>
            // attach a submit handler to the form
            $("#smartmin_form").submit(function(event) {

                // stop form from submitting normally
                event.preventDefault();
                event.stopPropagation();

                // get some values from elements on the page:
                var form = $(this);
                var data = form.serialize();
                {{ javascript_submit }}(form, data);
            });
        </script>
    {% endif %}
{% endblock %}
