{% extends "smartmin/base.html" %}

{% load smartmin %}

{% block content %}
{% block pjax %}

<div id="pjax" id="read-view">
  <div class="row">
    <div class="span9 buttons">

      {% block read-buttons %}
      {% if view.edit_button %}
      <a class="btn primary pull-right" href="../../update/{{ object.id }}/">edit</a>
      {% endif %}
      {% endblock %}
    </div>
  </div>

  <div class="row">
    <div class="span9">
      {% block pre-fields %}
      {% endblock pre-fields %}

      {% block fields %}
      <table>
        <tbody>
          {% for field in fields %}
          <tr class="detail_{{field}}">
            <td class="detail_label">{% get_label field %}:</td>
            <td class="detail_value">{% get_value object field %}&nbsp;</td>
          </tr>
          {% endfor %}

        {% block extra-fields %}
        {% endblock extra-fields %}
        </tbody>
      </table>
      {% endblock fields %}

      {% block post-fields %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
{% endblock %}

