/* Smartmin specific CSS Styles */

html, body {
    background-color: #efefef;
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.form-errors li {
    color: white;
    list-style: none;
}

ul.errorlist {
    margin-left: 0px;
    margin-bottom: 0px;
}

#login-form {
    padding-left: 0px;
}

.list-view-search fieldset {
    padding-top: 0px;
    margin-bottom: 0px;
}

.field-errors ul {
    display: inline;
}

.field-errors li {
    list-style: none;
    color: #9D261D;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

form div.clearfix.form-field.error {
    margin-bottom: 12px;
}

input, textarea, select, .uneditable-input {
    width: 340px;
}

.help-inline, .help-block {
    color: #999;
}

.buttons {
    margin-bottom: 5px;
}

.pagination {
    margin: 0px;
}

.pagination-text {
    margin-top: 9px;
}

tr.inactive td {
    color: #ccc;
}

tr.inactive td a {
    color: #ccc;
}