/* Smartmin specific CSS Styles */

html, body {
    background-color: #efefef;
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.form-errors li {
    color: white;
    list-style: none;
}

ul.errorlist {
    margin-left: 0px;
    margin-bottom: 0px;
}

#login-form {
    padding-left: 0px;
}

.list-view-search fieldset {
    padding-top: 0px;
    margin-bottom: 0px;
}

.field-errors ul {
    display: inline;
}

.field-errors li {
    list-style: none;
    color: #9D261D;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

form div.clearfix.form-field.error {
    margin-bottom: 12px;
}

input, textarea, select, .uneditable-input {
    width: 340px;
}

.help-inline, .help-block {
    color: #999;
}

.buttons {
    margin-bottom: 5px;
}

.pagination {
    margin: 0px;
}

.pagination-text {
    margin-top: 9px;
}

tr.inactive td {
    color: #ccc;
}

tr.inactive td a {
    color: #ccc;
}

.image-picker table td {
    border: 0px;
    padding: 0px;
    vertical-align: bottom;
}

.image-picker table {
    border: 0px;
    margin-bottom: 0px;
}

.input ul li {
    display: inline-block;
}

.input ul li label {
    text-align: left;
    padding-right: 10px;
}

.input ul {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

fieldset {
    padding-top: 0px;
}

fieldset.field-group legend {
    background: white;
    float: left;
    margin: -25px 0 15px 140px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    color: #333;
}

fieldset.field-group {
    margin: 20px -20px -10px 0;
    padding: 13px 20px 5px 0;
    border-top: 1px solid #DDD;
}

fieldset.field-group div.form-field {
    clear: both;
}
