
body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 13px;
}

a:link, a:visited {
    color: #5B80B2;
    text-decoration: none;
}

.list_view thead th, tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #E1E1E1 url(../img/smartmin/nav-bg.gif) top left repeat-x;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.list_view th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.list_view td, list_view th {
    font-size: 11px;
    line-height: 13px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-bottom: 1px solid #EEE;
    vertical-align: top;
    padding: 5px;
    border-right: 1px solid #DDD;
}

.list_view table {
    border-collapse: collapse;
}

.list_view {
    border: 1px solid #CCC;
    width: 100%;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

.detail_view {
    border-top: 1px solid #CCC;    
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;    
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;
}

.detail_view .row {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.label {
    float: left; 
    margin-top: 5px;
    font-weight: bold;
    width: 8em;
    vertical-align: middle;
    clear: both;
}

span.label {
    width: 200px;
    margin-top: 5px;
    font-weight: bold;
    width: 8em;
    vertical-align: middle;
}

.detail_view .row p {
    font-size: 11px;
    vertical-align: middle;
}

.form_table {
    width: 100%;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-size: 12px;
    padding-top:10px;
    padding-bottom:10px;
}

.blr {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.form_table td {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-bottom: 0px solid #CCC;
}

.form_table td.label {
    font-weight: bold;
    width: 100px;
    vertical-align: top;
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 16px;
    padding-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

.form_table td.value {
    font-size: 11px;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

.form_table td.readonly {
    padding-top: 20px;
}

.form_table td .help {
    padding-top: 2px;
    padding-left: 0px;
    font-size: 10px;
    color: #888;
    width: 410px;
}

td.errors {
    vertical-align: top;
    font-size: 11px;
    padding:10px;
}

td.errors ul.errorlist {
    width: 180px;
    padding: 10px;
    margin: 0px;

    border: 1px solid #a00;
    list-style-type: none;
    color: #a00;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

td.form_errors {
    vertical-align: top;
    font-size: 11px;
    padding-top: 10px;
}

td.form_errors ul.errorlist {
    padding: 10px;
    margin: 0px;
    width: 400px;

    border: 1px solid #a00;
    list-style-type: none;
    color: #a00;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

ul.errorlist {
    list-style-type: none;
    color: #a00;
}

.form_table td.value ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 400px;
}

form input[type=text] {
    width: 400px;
}

form input[type=password] {
    width: 400px;
}

form textarea {
    width: 400px;
}

form select {
    width: 135px;
}

.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url('../img/button.png') repeat-x bottom;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
}

.destructive {
    background: #A32E2A url('../img/button.png') repeat-x bottom;

}

.button:hover {
    background-position: 0 center;
}

.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}

.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.buttons {
    height: 30px;
    text-align: right;
}

.confirmation {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:20px 20px;
    background-color: #e1e1e1;
}

.confirmation .buttons {
    text-align:left;
    margin-top:10px;
}

.confirmation .button {
    margin-right:3px;
}

#login_box {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#login_box table.login {
    width: 290px;
    margin-bottom: 0px;
}

#login_box td.label {
    width: 60px;
}

#login_box form input[type=text] {
    width: 180px;
}

#login_box form input[type=password] {
    width: 180px;
}

#login_box .form_table td.form_errors ul {
    width: 240px;
}

#login_box .form_table td.value ul {
    width: 175px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;

    border: 1px solid #a00;
    list-style-type: none;
    color: #a00;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.rounded_top {
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.rounded_bottom {
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;

  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#login_box .login_header {
    background: #E1E1E1 url(../img/smartmin/nav-bg.gif) top left repeat-x;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;

    border: 1px solid #ddd;
}

#login_box .login_footer {
    font-weight: bold;
    font-size: 14px;
    padding-left: 88px;
    padding-top: 2px;
    padding-bottom: 15px;
    border: 1px solid #ddd;
    border-top: 0px;
}

.list_view_bottom {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-top: 0px;
  background: #e1e1e1 url(../img/smartmin/nav-bg.gif) top left repeat-x;
  color: #666;

  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;

  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 11px;
}

.list_view_top {
  padding: 6px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background: #e1e1e1 url(../img/smartmin/nav-bg.gif) top left repeat-x;
  color: #666;

  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.list_view_bottom .not_paginated {
  padding-left: 2px;
}

.list_view_bottom .paginated {
  padding-left: 2px;
}

.list_view_bottom .paginator {
  float: right;
  padding-right: 2px;

}

.paginator ul {
    float: right;
    list-style-type: none;
    margin: 0px;
}

.paginator li {
    font-size: 11px;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #888;
    background: #e8e8e8;
}

.paginator a {
    color: #666;
}

li.current_page {
    color: black;
    background: white;
}

.list_view_title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
  vertical-align: middle;
  text-shadow: 1px 1px 0px #fff;
}

.list_view_search {
}

.list_view_search input[type=text] {
    width: 150px;
    margin-right: 5px;
}

tr.empty_list td {
    height: 150px;
}

.form_view_top {
  padding: 6px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background: #e1e1e1 url(../img/smartmin/nav-bg.gif) top left repeat-x;
  color: #666;

  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.form_view_title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
  vertical-align: middle;
}

.form_buttons {
    font-weight: bold;
    font-size: 14px;
    padding-left: 128px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 0px;
}

ul.messages {
    padding: 10px;
    margin: 0px;
    margin-bottom: 5px;

    border: 1px solid #ccc;
    list-style-type: none;
    color: #444;
    font-weight: bold;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

ul.messages li.error {
    color: #a00;
}

ul.messages li.success {
    color: #94A643;
}

.optional {
    color: #888;
}

.section_header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 7px;
    veritical-align: middle;
    background: #eee;
    font-weight: bold;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
}

.form_view .section_header {
    border: 1px solid #ccc;
    padding: 7px;
    veritical-align: middle;
    background: #eee;
    font-weight: bold;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.pb15 {
    padding-bottom: 15px;
}

.p10 {
    padding: 10px;
}

.ordered {
    float: right;
    width: 7px;
    height: 10px;
    margin-top: 2px;
}

.ordered_asc {
    background-image: url("../img/sort_asc.png");
}

.ordered_dsc {
    background-image: url("../img/sort_dsc.png");
}

.show_order {
    background-image: url("../img/sort.png");
}

.right {
    float: right;
}

form input.datepicker[type="text"] {
    width: 198px;
}

.add_button {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/smartmin/add.png");
}

.add_button span {
    position: absolute;
    top: -999em;
}

.delete_button {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    background-image: url("../img/smartmin/decline.png");
}

.delete_button span {
    position: absolute;
    top: -999em;
}

div.active_icon {
    background-image: url('../img/active.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}

.list_view th.header_is_active {
    width: 30px;
    text-align: center;
}

td.value_is_active {
    width: 30px;
}

.mt10 {
    margin-top: 10px;
}

.dbw_left select {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.dbw_right select {
    margin-bottom: 5px;
    margin-top: 5px;
}

.dbw_left {
    text-align: center;
}

.dbw_right {
    text-align: center;
}

.list_pre_table {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;    
    padding: 5px;
}




